<div class="confirm-order">
    <div class="confirm-order__conteiner">
        <div class="order">
            <img src="./assets/images/icon-order-confirmed.svg" alt="" width="50">
            <div class="order__title">
                Order Confirmed
            </div>
            <div class="order__texts">
                We hope you enjoy your food!
            </div>

            <div class="order__products">
                <list-order></list-order>
            </div>

            <button class="btn_new_order" (click)="startNewOrder()">
                Start New Order
            </button>
        </div>
    </div>
</div>