<div class="cart">
    <h2 class="cart__title">Your Cart ({{getCart().length}})</h2>
    @if(getCart().length > 0){
        <cart-list-products [products]="getCart()" (removeItem)="remove($event)"></cart-list-products>
        <div class="total">
            <span>Order Total</span>
            <div class="total__price">{{ getTotalCart() | price }}</div>
        </div>
        <div class="verification">
            <img src="./assets/images/icon-carbon-neutral.svg" alt="" width="20">
            <div class="verification__texts">
                This is a <strong>carbon-neutral</strong> delivery
            </div>
        </div>
        <button class="confirm-order" (click)="confirmOrderCart()">Confirm Order</button>
        
    }@else{
        <div class="no-products">

            <img src="./assets/images/illustration-empty-cart.svg" alt="" class="no-products__image">
            <div class="no-products__text">
                Your added items will appear here
            </div>

        </div>
    }

    
</div>