<div class="hero">
    <div class="hero__texts">
        <h1 class="title">A Simple Bookmark Manager</h1>
        <p class="paragraph">A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
        <div class="links">
            <a href="#" class="link link--chrome">Get it on Chrome</a>
            <a href="#" class="link link--firefox">Get it on Firefox</a>
        </div>
    </div>

    <div class="hero__ilustration">
        <div class="ilustration">
            <div class="ilustration__content">
                <img src="./assets/images/illustration-hero.svg" class="img" alt="" width="200">
                <img src="./assets/images/blob-blue.svg" class="blob" alt="" width="150">
            </div>
        </div>
    </div>
</div>