.browsers{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    padding-top: 100px;
    
}

.browsers .browser{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.browser .browser__details{
    padding: 40px 25px;
    text-align: center;
}

.browser .browser__details .img{
    margin-bottom: 30px;
}

.browser .browser__details .name{
    color: var(--very-dark-blue);
}

.browser .browser__details .version{
    color: var(--grayish-blue);
    font-size: .9rem;
    margin-top: 10px;
}

.browser .browser__download{
    padding: 25px;
    position: relative;
    border-top: 5px dotted rgba(0, 0, 0, 0.1);
}

.browser .browser__download .btn{
    border: none;
    outline: none;
    background-color: var(--soft-blue);
    padding: 11px 26px;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    border: 2px solid transparent;

    transition: border .5s, background-color .5s, color .5s ;
}

.browser .browser__download .btn:hover{
    background-color: transparent;
    border: 2px solid var(--soft-blue);
    color: var(--soft-blue);
}

.browser--firefox{
    margin-top: 40px;
}

.browser--opera{
    margin-top: 80px;
}

@media only screen and (max-width: 768px) {
    .browsers{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 10px;
    }
    .browser .browser__details .name{
        font-size: 1.1rem;
    }
    .browser .browser__download .btn{
        width: 100%;
        font-size: .8rem;
    }
    .browser--firefox,.browser--opera{
        margin-top: 0px;
    }
}