<header class="navbar">
    <nav class="navbar__content">
        <div class="logo">
            <a routerLink="/"><img src="./assets/images/logo-bookmark.svg" alt="Logo Bookmark" width="150"></a>
        </div>

        <ul class="links">
            <li class="links__item"><a href="#" class="link">FEATURES</a></li>
            <li class="links__item"><a href="#" class="link">PRICING</a></li>
            <li class="links__item"><a href="#" class="link">CONTACT</a></li>
            <li class="links__item"><a href="#" class="link link--login">LOGIN</a></li>
        </ul>
    </nav>
</header>