.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.navbar__content{
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0px;
}

.navbar__content .links{
    display: flex;
    gap: 40px;
}
.navbar__content .links .links__item{
    list-style: none;
}

.navbar__content .links .links__item .link{
    text-decoration: none;
    color: var(--very-dark-blue);
    font-size: .9rem;
    transition: color .5s;
}

.navbar__content .links .links__item .link:hover{
    color: var(--soft-red);
}

.navbar__content .links .links__item .link--login{
    padding: 15px 31px;
    background-color: var(--soft-red);
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;

    transition: border .5s, background-color .5s;
}

.navbar__content .links .links__item .link--login:hover{
    background-color: white;
    border: 2px solid var(--soft-red);
}

.navbar__content .btn-navbar{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 0px;
}

@media only screen and (max-width:830px) {
    .navbar__content .links{
        display: none;
    }
    .navbar__content .btn-navbar{
        display: block;
    }
}