<header class="navbar">
    <nav class="navbar__content">
        <div class="logo">
            <a routerLink="/"><img src="./assets/images/logo-bookmark.svg" alt="Logo Bookmark" width="150"></a>
        </div>

        <ul class="links">
            <li class="links__item"><a href="#" class="link">Features</a></li>
            <li class="links__item"><a href="#" class="link">Pricing</a></li>
            <li class="links__item"><a href="#" class="link">Contact</a></li>
            <li class="links__item"><a href="#" class="link link--login">Login</a></li>
        </ul>
    </nav>
</header>