.features{
    width: 100%;
}

.features__btns{
    width: 50%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 40px;
}

.btn_feature{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    color: var(--grayish-blue);
    font-size: 1rem;

    border: none;
    outline: none;
    background-color: transparent;
    position: relative;

    cursor: pointer;

    border-bottom: 1px solid var(--grayish-blue);
    
    transition: color .5s;
}

.btn_feature:hover{
    color: var(--soft-red);
}

.btn_feature.selected{
    color: var(--very-dark-blue);
}

.btn_feature.selected::before{
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--soft-red);
}

.feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;

    margin-top: 50px;
}

.feature .feature__texts .f_title{
    font-size: 2rem;
    color: var(--very-dark-blue);
}

.feature .feature__texts .f_paragraph{
    color: var(--grayish-blue);
    margin: 30px 0px;
}

.feature .feature__texts .f_btn{
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--soft-blue);
    border-radius: 5px;
    padding: 15px 20px;
    display: inline-block;
}

.feature__ilustration{
    width: 100%;
}

.feature__ilustration .ilustration .ilustration__content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__ilustration .ilustration .ilustration__content .img{
    width: 90%;
}

.feature__ilustration .ilustration .ilustration__content .blob{
    width: 100%;
    position: absolute;
    transform: rotate(180deg) scaleX(1.2) scaleY(.8);
    left: -200px;
    bottom: -100px;
    z-index: -1;
}


@media only screen and (max-width:1330px) {
    .features__btns{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .features__btns .btn_feature:first-child{
        border-top: 1px solid var(--grayish-blue);
    }
    .btn_feature.selected::before{
        width: 50%;
        margin: auto;
    }

    .feature{
        grid-template-columns: 1fr;
        gap: 100px;
    }
    .feature__ilustration .ilustration .ilustration__content .img{
        width: 60%;
    }
    .feature__ilustration .ilustration .ilustration__content .blob{
        width: 50%;
    }
}

@media only screen and (max-width:768px){
    .feature .feature__texts{
        text-align: center;
    }
    .feature .feature__texts .f_title{
        font-size: 1.2rem;
    }
    
    .feature .feature__texts .f_paragraph{
        font-size: .8rem;
        margin: 15px 0px;
    }

    .feature__ilustration .ilustration .ilustration__content .img{
        width: 80%;
    }
    .feature__ilustration .ilustration .ilustration__content .blob{
        width: 80%;
    }
}

@media only screen and (max-width:425px){
    .feature__ilustration .ilustration .ilustration__content .img{
        width: 100%;
    }
    .feature__ilustration .ilustration .ilustration__content .blob{
        width: 130%;
    }
}