.list{
    width: 100%;
}
.title{
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.list__conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width:1100px) {
    .list__conteiner{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:480px) {
    .list__conteiner{
        grid-template-columns: 1fr;
    }
}
.product{
    width: 100%;
    padding-bottom: 15px;
}

.product__image{
    width: 100%;
    position: relative;
    margin-bottom: 38px;   
}

.product__image .image{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}

@media only screen and (max-width:425px){
    .product__image .image{
        height: 200px;
    }
}

.product__image .image.select{
    border: 2px solid var(--color-red);
}

.product__image .image .img{
    min-width: calc(100% + 4px);
    transition: transform 1s;
}

.product__image .image:hover .img{
    transform: scale(1.2);
}

.product__texts .category{
    font-size: .9rem;
    color: var(--rose-300);
}

.product__texts .name{
    font-weight: var(--font-weight-semibold);
    margin: 3px 0px;
}

.product__texts .price{
    color: var(--color-red);
    font-weight: var(--font-weight-semibold);
}


/*PARA OTRO COMPONENTE*/
.add_cart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: absolute;
    bottom:-20px
}
.add_cart .btn{
    padding: 15px 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);

    background-color: white;
    border: 1.8px solid var(--rose-300);
    cursor: pointer;

    transition: border .5s, color .5s;

    gap: 10px;
}

.add_cart .btn:hover{
    border: 1.8px solid var(--color-red);
    color: var(--color-red);
}

.add_cart .btns-quantity{
    width: 169.86px;
    padding: 15px 25px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

    background-color: var(--color-red);
}

@media only screen and (max-width:425px){
    .product__image{
        margin-bottom: 30px;
    }
    .add_cart .btn, .add_cart .btns-quantity{
        padding: 12px 20px;
    }
}

.add_cart .btns-quantity .quantity{
    color: white;
}

.add_cart .btns-quantity .btn-q{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    cursor: pointer;

    transition: background-color .7s;
}

.add_cart .btns-quantity .btn-q:hover{
    background-color: white;
}

.add_cart .btns-quantity .btn-q:hover svg{
    fill: var(--color-red);
}