.list{
    width: 100%;
}
.title{
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.list__conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width:1100px) {
    .list__conteiner{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:480px) {
    .list__conteiner{
        grid-template-columns: 1fr;
    }
}
.product{
    width: 100%;
    padding-bottom: 15px;
}

.product__image{
    width: 100%;
    position: relative;
    margin-bottom: 38px;   
}

.product__image .image{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}

@media only screen and (max-width:425px){
    .product__image .image{
        height: 200px;
    }
}

.product__image .image.select{
    border: 2px solid var(--color-red);
}

.product__image .image .img{
    min-width: calc(100% + 4px);
    transition: transform 1s;
}

.product__image .image:hover .img{
    transform: scale(1.2);
}

.product__texts .category{
    font-size: .9rem;
    color: var(--rose-300);
}

.product__texts .name{
    font-weight: var(--font-weight-semibold);
    margin: 3px 0px;
}

.product__texts .price{
    color: var(--color-red);
    font-weight: var(--font-weight-semibold);
}

@media only screen and (max-width:425px){
    .product__image{
        margin-bottom: 30px;
    }
}

.message{
    grid-column: span 3;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: var(--font-weight-semibold);
}
.message.text{
    background-color: var(--rose-300);
    border-radius: 10px;
}