<div class="list">
    <h2 class="title">Desserts</h2>
    <div class="list__conteiner">

        @for( product of getProducts() ; track product.name){
            @if(product.quantity > 0){
                <div class="product">
                    <div class="product__image">
                        <div class="image" [class.select]="inTheCart(product.id)">
                            <img [src]="product.image.desktop" alt="" width="100" class="img">
                        </div>
                        
                        <button-to-cart [product]="product"></button-to-cart>
                    </div>
                    <div class="product__texts">
                        <div class="category">{{ product.category }}</div>
                        <div class="name">{{ product.name }}</div>
                        <div class="price">${{ product.price }}</div>
                    </div>
                </div>
            }
        }@empty {
            <div class="message" [class.text]="!listLoader">
                @if(listLoader){
                    <img src="./assets/icons/oval.svg" width="40" alt="">
                }@else{
                    Lo sentimos, se agotaron los productos...
                }    
            </div>
            
        }
        
    </div>
</div>