.list-order{
    max-height: 300px;
    overflow-y: auto;
}

.cartProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0px;

    border-bottom: 1px solid var(--rose-100);
}

.cartProduct__details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartProduct__details .image{
    border-radius: 5px;
}

.cartProduct .cartProduct__details .name{
    margin-bottom: 6px;
    font-size: .9rem;
    font-weight: var(--font-weight-semibold);
}
.cartProduct .cartProduct__details .cost{
    display: flex;
    gap: 20px;

    font-size: .9rem;
}

.cartProduct .cartProduct__details .cost .quantity{
    color: var(--color-red);
    font-weight: var(--font-weight-semibold);
}

.cartProduct .cartProduct__details .cost .price{
    color: var(--rose-500);
}

.cartProduct .total-price{
    color: var(--rose-500);
    font-weight: var(--font-weight-semibold);
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0px;
}

.total__price{
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}