<shared-navbar [navbarState]="navbarOpen" (changeState)="changeState()"></shared-navbar>
<shared-navbar-responsive [navbarState]="navbarOpen" (changeState)="changeState()"></shared-navbar-responsive>
<main class="main">
    <bookmark-hero></bookmark-hero>
    <section class="section">
        <h2 class="section__subTitle">Features</h2>
        <p class="section__paragraph">Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.</p>

        <bookmark-features></bookmark-features>
    </section>

    <section class="section">
        <h2 class="section__subTitle">Download the extension</h2>
        <p class="section__paragraph">We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.</p>

        <bookmark-browsers></bookmark-browsers>
    </section>

    <section class="section">
        <h2 class="section__subTitle">Frequently Asked Questions</h2>
        <p class="section__paragraph">Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.</p>

        <bookmark-questions></bookmark-questions>
    </section>


    <form-contact></form-contact>

    <shared-footer></shared-footer>
</main>